<h1 id="project-name"><%= @project.name %></h1>

<div id="status">
  <b><%= @project.status&.content %></b>
</div>

<br>

<%= form_for @project do |f| %>
  <%= f.label :status, "Set project status" %><br> 
  <%= f.text_field :status, value: "" %>

  <%= f.submit "Save status" %>
<% end %>

<div id="conversation">
  <h3>Conversation</h3>

  <%= form_for @comment, url: project_comments_path(@project) do |f| %>
    <%= f.label :content, "Add comment" %><br> 
    <%= f.text_field :content %>

    <%= f.submit "Save" %>
  <% end %>

  <br>

  <% @project.conversation_nodes.each do |node| %>
    <%= format_node_content(node) %><br>
    <i><%= node.user.email %></i><br>
    <i><%= node.conversationable.created_at.strftime('%d %b %Y %H:%M:%S %Z')%></i><br>
    <br>
  <% end %>
</div>
