<h1><%= @project.name %></h1>
<b><%= @project.status %></b>

<br>

<%= form_for @project do |f| %>
  <%= f.label :status, "Set project status" %><br> 
  <%= f.text_field :status, value: "" %>

  <%= f.submit "Save status" %>
<% end %>

<h3>Conversation</h3>

<%= form_for @comment, url: project_comments_path(@project) do |f| %>
  <%= f.label :content, "Add comment" %><br> 
  <%= f.text_field :content %>

  <%= f.submit "Save" %>
<% end %>

<br>

<% @project.conversation.comments.each do |comment| %>
  <strong><%= comment.content %></strong><br>
  <%= comment.user.email %><br>
  <%= comment.created_at.strftime('%d %b %Y %H:%M:%S %Z')%><br>
  <br>
<% end %>
